save-prefix=
save-workspace-protocol=rolling # default rolling in pnpm v8 -- can be eliminated then
shell-emulator=true
auto-install-peers=false
strict-peer-dependencies=false
resolve-peers-from-workspace-root=true # default true in pnpm v8 -- can be eliminated then
dedupe-peer-dependents=true # default true in pnpm v8 -- can be eliminated then
public-hoist-pattern[]=@types*
